<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Car shop</title>
    <style>
        .indent_top {
          padding-top: 20px;
        }
        .table_center {
          margin: auto;
        }
    </style>
</head>
<body>
<div class="container pt-3" style="text-align: center;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{post/posts}">Car shop</a>
    </nav>

    <div class="indent_top">
        <table class="table_center" width="770px">
            <tbody>
            <tr>
                <td align="left">
                    <p style="font-size: 18px"><b th:text="${post.head}"></b></p>
                </td>
                <td align="right">
                    <p style="font-size: 18px"><b th:text="50000 + Р"></b></p>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <p><i th:text="${#temporals.format(post.created, 'dd-MM-yyyy HH:mm')}"></i></p>
                </td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="table_center" width="800px">
            <tbody>
            <tr>
                <td>
                    <img th:width="520" th:high="520" th:src="@{|/carPhoto/${post.id}|}">
                </td>
                <td width="20px"></td>
                <td align=left>
                    <p style="display:inline"><b>Бренд:</b></p>
                    <p style="display:inline" th:text="${post.car.brand}"></p>
                    <p></p>
                    <p style="display:inline"><b>Модель:</b></p>
                    <p style="display:inline" th:text="${post.car.model}"></p>
                    <p></p>
                    <p style="display:inline"><b>Год выпуска:</b></p>
                    <p style="display:inline" th:text="${post.car.release}"></p>
                    <p></p>
                    <p style="display:inline"><b>Кузов:</b></p>
                    <p style="display:inline" th:text="${post.car.shape}"></p>
                    <p></p>
                    <p style="display:inline"><b>Привод:</b></p>
                    <p style="display:inline" th:text="${post.car.drive}"></p>
                    <p></p>
                    <p style="display:inline"><b>Коробка передач:</b></p>
                    <p style="display:inline" th:text="${post.car.gsb}"></p>
                    <p></p>
                    <p style="display:inline"><b>Цвет:</b></p>
                    <p style="display:inline" th:text="${post.car.color}"></p>
                    <p></p>
                    <p style="display:inline"><b>Пробег:</b></p>
                    <p style="display:inline" th:text="${post.car.mileage}"></p>
                    <p></p>
                    <p style="display:inline"><b>Двигатель:</b></p>
                    <p style="display:inline" th:text="${post.car.engine.name}"></p>
                </td>
            </tr>
            <tr>
                <td height="20px"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <table class="table_center" width="770px">
            <tbody>
            <tr>
                <td align="left">
                    <p><b>Описание</b></p>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <p th:text="${post.description}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>