<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Car shop</title>
    <style>
        .table_center {
          margin: auto;
        }
        .indent_top_bot {
          padding-top: 20px;
          padding-bottom: 20px;
        }
        .indent_a {
          padding-right: 10px;
          padding-left: 10px;
        }
    </style>
</head>
<body>
<div class="container pt-3" style="text-align: center;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/carShop}">Car shop</a>
    </nav>

    <form th:action="@{/formAddCar}" style="display: inline">
        <button type="submit" class="btn btn-primary mt-3">Добавить объявление</button>
    </form>

    <div class="indent_top_bot">
        <a th:href="@{/carShop}" class="indent_a">Все объявления</a>
        <a th:href="@{/carShop?filter=day}" class="indent_a">За последние сутки</a>
        <a th:href="@{/carShop?filter=photo}" class="indent_a">С фото</a>
        <a th:href="@{/formFindByBrand}" class="indent_a">По марке</a>
    </div>

    <div>
        <table class="table_center" width="600" border="0">
            <thead>
                <tr>
                    <th scope="col" height="50px" style="border-bottom: 3px solid #808080;">Фото</th>
                    <th scope="col" height="50px" style="border-bottom: 3px solid #808080;">Заголовок</th>
                    <th scope="col" height="50px" style="border-bottom: 3px solid #808080;">Марка</th>
                    <th scope="col" height="50px" style="border-bottom: 3px solid #808080;">Модель</th>
                    <th scope="col" height="50px" style="border-bottom: 3px solid #808080;">Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="post: ${posts}">
                    <td height="165px" style="border-bottom: 3px solid #808080;">
                        <img th:width="150" th:high="50" th:src="@{|/carPhoto/${post.id}|}">
                    </td>
                    <td height="165px" style="border-bottom: 3px solid #808080;">
                        <a th:href="@{|/openPost/${post.id}|}" th:text="${post.head}"></a>
                    </td>
                    <td height="165px" th:text="${post.car.brand}" style="border-bottom: 3px solid #808080;"></td>
                    <td height="165px" th:text="${post.car.model}" style="border-bottom: 3px solid #808080;"></td>
                    <td height="165px" th:if="${post.sold == false}" style="border-bottom: 3px solid #808080;">Не продано</td>
                    <td height="165px" th:if="${post.sold == true}" style="border-bottom: 3px solid #808080;">Продано</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>